---
---

@import "{{ site.theme }}";


.pronunciation-button {
    cursor: pointer;
}


.project-card {
    border: 2px solid black;
    display: inline-block;
}
.card-left {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    float: left;
    border: 2px solid red;
    overflow: hidden;
}

img.project-thumb {
    flex: none;
    display: block;
    object-fit: cover;
    height: 100%;
    width: auto;
    border: 0px solid black;
    margin: 0 auto;
}

.project-title {
    font-size: 22px;
    font-weight: bold;
}
