---
---

@import "{{ site.theme }}";


.pronunciation-button {
    cursor: pointer;
}
.pronunciation-button img {
    margin-top: -12px;
    margin-left: 0px;
    margin-right: 4px;
}

.project-card {
    border: 2px solid #333;
    background: #ddd;
    display: inline-block;
    margin-bottom: 15px;
}
.project-card:hover {
    background: #c7cbd7;
    color:  #222;
}

.card-year {
    position: absolute;
    left: -26px;
    writing-mode: sideways-lr;
    font-size: 30px;
    color: #b3b3b3;
}

@media only screen and (max-width: 700px) {
    .card-year {
        display: none
    }
}

.card-left {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    float: left;
    border: 2px solid black;
    overflow: hidden;
    position: relative; // Position its absolute children relative to it
    margin: 10px;
}

img.project-thumb {
    flex: none;
    object-fit: cover;
    height: 100%;
    width: auto;
    border: 0px solid black;
    margin: 0 auto;
    position: absolute;
    z-index: 0;
    padding: 0;
}
.project-vid {
    padding: 0;
    object-fit: cover;
    height: 100%;
    width: auto;
    border: 0px solid black;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
}

.project-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 3px;
    display: block;
}
